# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

**/*~
**/*.bak
**/.DS_Store
**/*.log
**/*.pyc
**/*.swp
**/*.tmp
**/*.whl
**/*.egg
**/*.egg-info/
**/*_cache/
**/.git/
**/.ipynb_checkpoints/
**/__pycache__/

# Coverage & test artifacts.
**/*.cover
**/*.py,cover
**/.coverage*
**/coverage.xml

# Environments & IDEs.
.dockerignore
.env*
.github/
.idea/
.venv/
.vscode/
env/
venv/

# Build outputs & tool caches.
.eggs/
bazel-*
build/
dist/
eigen/
*.tar.gz
**/jupyter_kernel.lock
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake

# Native compilation artifacts.
**/*.o
**/*.a
**/*.so
**/*.dylib
**/*.dll
**/*.pyd
**/*.x
**/*.mod
**/*.dSYM/
