# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Summary: tell git what to ignore in the qsim source tree.

# Bazel files.
/bazel-*

# Eigen is downloaded by our build files.
eigen/

# Jupyter-specific items.
*/.ipynb_checkpoints/
.ipynb_checkpoints
ipython_config.py

# Python-related items.
*$py.class
*.cover
*.coverage
*.coverage.*
*.egg
*.egg-info/
*.py,cover
*.py[cod]
*.whl
.cache/
.dmypy.json
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.pytype/
.ruff_cache/
.tox/
__pycache__/
build/
coverage.xml
dist/
dmypy.json
sdist/
wheelhouse/

# Python virtual environments (from instructions given to people).
CirqDevEnv/
venv/

# Don't commit local PyPI config files.
.pypirc

# From pytest-benchmark.
*.benchmarks/

# Default pycharm virtual env.
.venv/

# Generated C/C++ files and libraries.
*.a
*.mod
*.o
*.so
*.x

# Executables
*.exe
*.out

# Miscellaneous common editor backup files and temp files.
*.bak
*.log
*.swp
*.tmp
*.~*~
*~
.\#*
.idea/
.vs
.vscode/
.~*~
\#*\#
