version: "3"
services:
    qsim:
        image: qsim
        container_name: qsim
        build:
            context: ./
            dockerfile: Dockerfile
    qsim-cxx-tests:
        image: qsim-cxx-tests
        container_name: qsim-cxx-tests
        build:
            context: ./
            dockerfile: tests/Dockerfile
        depends_on:
        - qsim
    qsim-py-tests:
        image: qsim-py-tests
        container_name: qsim-py-tests
        build:
            context: ./
            dockerfile: pybind_interface/Dockerfile
        depends_on:
        - qsim