# Thanks to setuptools-scm, the source distribution (sdist) will already include
# all files tracked by git. Here we exclude some that are unsuitable.

recursive-exclude .github *
recursive-exclude dev_tools/ci *
