# This controls the contents of source distributions of qsim. We only need to
# exclude things that don't make sense to include in the sdist.

recursive-exclude .github *
recursive-exclude dev_tools/ci *

global-exclude *.py[cod]
global-exclude .*_cache
global-exclude __pycache__
