# Runtime dependencies for qsimcirq. This file is referenced by pyproject.toml.

absl-py
cirq-core~=1.0
cmake~=3.28.1
numpy>=1.26.0,<2.0; python_version < '3.11'
numpy>=2.0; python_version >= '3.11'
pybind11[global]<3.0

# These are transitive dependencies we need to constrain to avoid unresolvable
# installation conflicts due to them requiring higher Python versions:
scipy<1.16; python_version < '3.11'
contourpy<1.3; python_version < '3.11'
