name: Docker

on:
  push:
    # Run post-submit tests when pushing to master.
    branches:
      - master

  # Run tests for any PRs.
  pull_request:

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Build Docker images
        run: docker-compose build
      - name: Run C++ tests
        run: docker run --rm qsim-cxx-tests:latest
      - name: Run Python tests
        run: docker run --rm qsim-py-tests:latest
      - name: Run sample simulation
        run: docker run --rm qsim:latest -c /qsim/circuits/circuit_q24
      - name: Test install process
        run: |
          cd install/tests
          docker-compose up --build
